

.wp-post {
    h1 {
        //color: red;
        padding: 0px 0px 0px 0px;
        margin: 18px 0px 12px 0px;
        //border: thin solid red;
    }
    h2 {
        padding: 0px 0px 0px 0px;
        margin: 18px 0px 12px 0px;
    }
    p {
        padding: 0px 0px 0px 0px;
        margin: 12px 0px 16px 0px;
    }
    .wp-post-content {
        //background: #000;
    }
}
